body{
    background-color:rgba(0, 0, 0, 0.678);
    color:white;
}

header{
    font-size:10px;
    text-align:center;
    background-color:rgba(0, 0, 0, 0.37);
    height:100px;
    width:100%;
    margin:0;
    padding:10px;
}

p{
    margin:40px 40px 40px 40px;
}

body{
    margin:0;
    padding:0;
}